@page
@using RTMPDash.Backend
@model CreditsModel
@{
	ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>
	All streamed content belongs to the respective content creators. We do not record or otherwise store streamed materials.
</p>

<p>If you have any further questions, contact us at <a href="mailto:@Program.CopyrightEmail">@Program.CopyrightEmail</a></p>
