@page
@using RTMPDash.Backend
@model CreditsModel
@{
	ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>
	All streamed content belongs to the respective content creators. We do not record or otherwise store streamed materials.
</p>

<p>If you have any further questions, contact us at <a href="mailto:@Program.CopyrightEmail">@Program.CopyrightEmail</a></p>

<p><a href="https://commons.wikimedia.org/w/index.php?curid=2819739">Player Offline</a> image: By <a href="//commons.wikimedia.org/wiki/User:Denelson83" title="User:Denelson83">Denelson83</a> <a rel="nofollow" class="external free" href="http://www.xilinx.com/support/documentation/application_notes/xapp514.pdf">constructed using XAPP514 (v4.0.1) p356</a><a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a></p>