@page
@using RTMPDash.Backend
@model CreditsModel
@{
	ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>
	All streamed content belongs to the respective content creators. We do not record or otherwise store streamed materials.
</p>

<p>If you have any further questions, contact us at <a href="mailto:@Program.CopyrightEmail">@Program.CopyrightEmail</a></p>

<p>Offline image</p> By <a href="//commons.wikimedia.org/wiki/User:Denelson83" title="User:Denelson83">Denelson83</a> - self-made, constructed according to <a rel="nofollow" class="external free" href="http://www.xilinx.com/support/documentation/application_notes/xapp514.pdf">http://www.xilinx.com/support/documentation/application_notes/xapp514.pdf</a>, page 356, figure 17-3., <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=2819739">Link</a>