@page
@using RTMPDash.Backend.Database
@using RTMPDash.Backend
@model IndexModel
@{
	ViewData["Title"] = "Home";
	var db = new Database.DbConn();
	var allStreams = StreamUtils.ListLiveUsers();
	var allUsers = db.Users.Where(p => !p.IsPrivate).Select(p => p.Username);
	var liveUsers = allStreams.Intersect(allUsers);
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	@if (liveUsers.Any()) {
		<p>The following users are currently live:</p>
		<div class="btn-group btn-group" role="group">
			@foreach (var user in liveUsers) {
				<a href="/@user" class="btn btn-primary" role="button">@user</a>
			}
		</div>
	}
	else {
		<p>At the moment, no users are live. Please check back later!</p>
	}
</div>

<div class="text-centre">
    <h2>About this project</h2>
    <p>This is part of my final uni project, looking at ways to get RTMP streams working over redundant paths</p>
    <p>Thanks to <a href=https://zotan.pw>zotan</a>, <a href=https://magicalcodewit.ch>Q</a> and <a href=https://bonzi.sh>Bonzi</a> for their help deploying this.</p>
    <p>This site is based on the source of <a href=https://chaos.stream>chaos.stream</a> by zotan. Checkout the original git repo <a href=https://git.ztn.sh/zotan/rtmpdash>here</a>.</p>
</div>